/**
 * partials/elements
 * ---
 */

 .headline-subheadline{
	.container{
	  padding-left: 10%;
	  padding-right: 10%;
	}
	.container-inner {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
	}
	h1{
	  font-size: 42px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewaybold';
	}
	h2{
	  font-size: 36px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewaybold';
	}
	h3{
	  font-size: 30px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewaybold';
	}
	h4{
		font-size: 22px;
		line-height: 1.2;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0;
		font-family: 'ralewaybold';
	}
	p{
	  font-size: 18px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewayregular';
	  strong, b{
		font-family: 'ralewaybold';
	  }
	}
	a {
	  text-decoration: underline;
	  transition:color 0.2s;
	  &:hover{
		color: $blue;
	  }
	}
  }
  
@media only screen and (max-width:991px) {
	.headline-subheadline{
		.container{
			h1{
				font-size: 36px;
			}
			h2{
				font-size: 30px;
			}
			h3{
				font-size: 24px;
			}
			h4{
				font-size: 20px;
			}
		}
	}
}

.text-columns {
	.container-inner {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;	 
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap:wrap;
		.column-width-100 {
			flex-basis: 100%;
			padding:0 1%;
		}		
		.column-width-50 {
			flex-basis: 50%;
			padding:0 1%;
		}
		.column-width-33 {
			flex-basis: 33.33%;
			padding:0 1%;
		}
		.column-width-25 {
			flex-basis: 25%;
			padding:0 1%;
		}
		h1{
			font-size: 42px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		h2{
			font-size: 36px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		h3{
			font-size: 30px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		h4{
			font-size: 20px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		p{			
			font-family: 'ralewayregular';
			font-size: 15px;
			margin-top:0px;
			margin-bottom: 20px;			
		  }
		hr{
			border:0;
			border-top: 1px solid black;
			margin: 20px 0;
		  }
		a{
			text-decoration: none;
			transition:color 0.2s;
			color:#337ab7;
			&:hover{
				cursor: pointer;
			}
		}
		
	}
}

@media only screen and (max-width:991px) {
	.text-columns{
		.container-inner{
			flex-direction:column;
			text-align: center;
			h1{
				font-size: 36px;
			}
			h2{
				font-size: 30px;
			}
			h3{
				font-size: 24px;
			}
			h4{
				font-size: 20px;
			}
		}
	}
}

.icons {
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	h1 {
		font-size: 50px;
		line-height: 1.15;
		font-family: 'ralewayregular';
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 10px;
	}
	p {
		font-family: 'ralewayregular';
		font-size: 18px;
		line-height: 1.7;
		margin-top: 0;
		margin-bottom: 0;
	}
	.container-inner {
		width: 100%;
		max-width: 1200px;
		margin: 60px auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		h5 {
			font-family: 'ralewayregular';
			font-weight: 400;
			color: #2b79a7;
			font-size: 24px;
			margin: 0 0 10px 0;
		}
		p {
			line-height: 1.7;
			font-family: 'open_sansregular';
			font-weight: 400;
			font-size: 1.3em;
		}
		img{
			max-width: 90px;
			width: 100%;
			margin-bottom: 15px;
		}
		a {
			text-decoration: none;
			transition:color 0.2s;
			color:#337ab7;
			&:hover{
				cursor: pointer;
			}
		}
		.column-width-100{
			flex-basis: 100%;
			padding: 0 1%;
			margin-bottom: 30px;
		}
		.column-width-50{
			flex-basis: 50%;
			padding: 0 1%; 
			margin-bottom: 30px;
		}
		.column-width-33{
			flex-basis: 33.33%;
			padding: 0 1%;
			margin-bottom: 30px;
		}
		.column-width-25 {
			flex-basis: 25%;
			padding: 0 1%;
			margin-bottom: 30px;
		}	
	}
}

@media only screen and (max-width:1200px) {
	.icons {
		.container {					
			.container-inner {
				.column-width-25 {
					flex-basis: 33.33%;
				}
			}
		}						
	}
}

@media only screen and (max-width:1024px) {
	.icons {
		.container {					
			.container-inner {
				.column-width-33 {
					flex-basis: 50%;
				}
				.column-width-25 {
					flex-basis: 50%;
				}
			}
		}						
	}
}

@media only screen and (max-width:991px) {
	.icons{
		.container{
			h1 {
				font-size: 40px;
			}			
		}		
	}
}

@media only screen and (max-width:768px) {
	.icons {
		.container {
			.container-inner {
				flex-direction: column;
			}
		}
	}

}

.slider {
	.container {
		padding-left: 10%;
		padding-right: 10%;
	
		.main-slider {
			max-width: 750px;
			width: 95%;
			padding: 10px 20px;
			margin: 0 auto;
			.slick-list {
				padding-left: 20px;
				padding-right: 20px;
			}
			.slick-next {
				right:15px;
			}
			.slick-prev {
				left:-15px;
			}
			.slick-prev:before, .slick-next:before {
				font-size: 50px;
				color: $text-color;
			}
			.slick-slide {
				&:focus {
					display: none;
				}
				h1, h2, h3, h4, h5 {
					font-family: 'ralewayregular';
					font-weight: 400;
					line-height: 1.1;
					color: #2b79a7;	
					margin: 20px 0 10px;
					a {
						text-decoration: underline;
						color: #2b79a7;
						transition: all 0.2s;
						&:hover {
							cursor: pointer;
						}
					}				
				}
				h1 {
					font-size: 32px;
				}
				h2 {
					font-size: 28px;
				}
				h3 {
					font-size: 24px;
				}
				h4 {
					font-size: 22px;
				}
				h5 {
					font-size: 17px;
				}
				
				p, blackquote {
					font-family: 'open_sansregular';
					font-weight: 400;
					color: $text-color;
					line-height: 1.7;
					a {
						text-decoration: underline;
						transition: all 0.2s;
						&:hover {
							cursor: pointer;
						}
					}
				}
				p {
					font-size: 15px;
					margin: 0;
				}
				blackquote {
					font-size: 18px;
				}
			}
		}

	}
}

@media only screen and (max-width:991px) {
	.slider {
		.container {
			.main-slider {
				.slick-slide {
					h1 {
						font-size: 28px;
					}
					h2 {
						font-size: 24px;
					}
					h3 {
						font-size: 20px;
					}
					h4 {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width:768px) {
	.slider {
		.container {
			.main-slider {
				.slick-next {
					right:7px;
				}
				.slick-prev {
					left:-23px;
				}
			}
		}
	}
}
