/**
 * partials/elements
 * ---
 */

 .headline-subheadline{
	.container{
		.container-inner {
			width: 95%;
			padding-left: 10px;
			padding-right: 10px;
			max-width: 1200px;
			margin: 0 auto;
		}
	}
	h1{
	  font-size: 42px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewaybold';
	}
	h2{
	  font-size: 36px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewaybold';
	}
	h3{
	  font-size: 30px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewaybold';
	}
	h4{
		font-size: 22px;
		line-height: 1.2;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 0;
		font-family: 'ralewaybold';
	}
	p{
	  font-size: 18px;
	  line-height: 1.2;
	  margin-top: 5px;
	  margin-bottom: 5px;
	  padding: 0;
	  font-family: 'ralewayregular';
	  strong, b{
		font-family: 'ralewaybold';
	  }
	}
	a {
	  text-decoration: underline;
	  transition:color 0.2s;
	  &:hover{
		color: $blue;
	  }
	}
  }

@media only screen and (max-width:991px) {
	.headline-subheadline{
		.container{
			h1{
				font-size: 36px;
			}
			h2{
				font-size: 30px;
			}
			h3{
				font-size: 24px;
			}
			h4{
				font-size: 20px;
			}
		}
	}
}

.text-columns {
	.container-inner {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap:wrap;
		.column-width-100 {
			flex-basis: 100%;
			padding:0 1%;
		}
		.column-width-50 {
			flex-basis: 50%;
			padding:0 1%;
		}
		.column-width-33 {
			flex-basis: 33.33%;
			padding:0 1%;
		}
		.column-width-25 {
			flex-basis: 25%;
			padding:0 1%;
		}
		h1{
			font-size: 42px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		h2{
			font-size: 36px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		h3{
			font-size: 30px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		h4{
			font-size: 20px;
			font-weight: 400;
			line-height: 1.2;
			margin-top: 0px;
			margin-bottom: 10px;
			padding: 0;
			font-family: 'ralewayregular';
		}
		p{
			font-family: 'ralewayregular';
			font-size: 15px;
			margin-top:0px;
			margin-bottom: 20px;
		}
		hr{
			border:0;
			border-top: 1px solid black;
			margin: 20px 0;
		  }
		a{
			text-decoration: none;
			transition:color 0.2s;
			color:#337ab7;
			&:hover{
				cursor: pointer;
			}
		}

	}
}

@media only screen and (max-width:991px) {
	.text-columns{
		.container-inner{
			flex-direction:column;
			text-align: center;
			h1{
				font-size: 36px;
			}
			h2{
				font-size: 30px;
			}
			h3{
				font-size: 24px;
			}
			h4{
				font-size: 20px;
			}
		}
	}
}

.icons {
	.icons-headline-holder{
		margin: 0 auto 60px auto;
		width: 95%;
		max-width: 1200px;
		padding-left: 10px;
		padding-right: 10px;
		h1 {
			font-size: 50px;
			line-height: 1.15;
			font-family: 'ralewayregular';
			font-weight: 400;
			margin-top: 0;
			margin-bottom: 10px;
		}
		p {
			font-family: 'ralewayregular';
			font-size: 18px;
			line-height: 1.7;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.container-inner {
		width: 95%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		h5 {
			font-family: 'ralewayregular';
			font-weight: 400;
			color: #2b79a7;
			font-size: 24px;
			margin: 0 0 10px 0;
		}
		p {
			line-height: 1.7;
			font-family: 'open_sansregular';
			font-weight: 400;
			font-size: 1.3em;
		}
		img{
			max-width: 90px;
			width: 100%;
			margin-bottom: 15px;
		}
		a {
			text-decoration: none;
			transition:color 0.2s;
			color:#337ab7;
			&:hover{
				cursor: pointer;
			}
		}
		.column-width-100{
			flex-basis: 100%;
			padding: 0 10px;
			margin-bottom: 30px;
		}
		.column-width-50{
			flex-basis: 50%;
			padding: 0 10px;
			margin-bottom: 30px;
		}
		.column-width-33{
			flex-basis: 33.33%;
			padding: 0 10px;
			margin-bottom: 30px;
		}
		.column-width-25 {
			flex-basis: 25%;
			padding: 0 10px;
			margin-bottom: 30px;
		}
	}
}

@media only screen and (max-width:1200px) {
	.icons {
		.container {
			.container-inner {
				.column-width-25 {
					flex-basis: 33.33%;
				}
			}
		}
	}
}

@media only screen and (max-width:1024px) {
	.icons {
		.container {
			.container-inner {
				.column-width-33 {
					flex-basis: 50%;
				}
				.column-width-25 {
					flex-basis: 50%;
				}
			}
		}
	}
}

@media only screen and (max-width:991px) {
	.icons{
		.container{
			h1 {
				font-size: 40px;
			}
		}
	}
}

@media only screen and (max-width:768px) {
	.icons {
		.container {
			.container-inner {
				flex-direction: column;
			}
		}
	}

}

.heading-with-tabs{
	.container{
		.container-inner {
			padding-left: 10px;
			padding-right: 10px;
			width: 95%;
			max-width: 1200px;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			align-content: center;
			.icon-holder{
				padding-right: 5px;
				img{
					display: block;
					margin: 0 auto;
				}
			}
			.content-holder{
				padding-right: 5px;
				h1{
					font-size: 42px;
					font-weight: 400;
					line-height: 1.2;
					margin-top: 0px;
					margin-bottom: 10px;
					padding: 0;
					font-family: 'ralewayregular';
				}
				h2{
					font-size: 36px;
					font-weight: 400;
					line-height: 1.2;
					margin-top: 0px;
					margin-bottom: 10px;
					padding: 0;
					font-family: 'ralewayregular';
				}
				h3{
					font-size: 30px;
					font-weight: 400;
					line-height: 1.2;
					margin-top: 0px;
					margin-bottom: 10px;
					padding: 0;
					font-family: 'ralewayregular';
				}
				h4{
					font-size: 20px;
					font-weight: 400;
					line-height: 1.2;
					margin-top: 0px;
					margin-bottom: 10px;
					padding: 0;
					font-family: 'ralewayregular';
				}
				p{
					font-family: 'ralewayregular';
					font-size: 20px;
					line-height: 1.2;
					margin-top:0px;
					margin-bottom: 20px;
				}
			}
			.column-width-10{
				width: 10%;
			}
			.column-width-20{
				width: 20%;
			}
			.column-width-25{
				width: 25%;
			}
			.column-width-30{
				width: 30%;
			}
			.column-width-33{
				width: 33.33333%;
			}
			.column-width-40{
				width: 40%;
			}
			.column-width-50{
				width: 50%;
			}
			.column-width-60{
				width: 60%;
			}
			.column-width-100{
				width: 100%;
			}
		}
	}
	.heading-tab-container{
		width: 100%;
		background: white;
		.container-inner{
			padding-left: 10px;
			padding-right: 10px;
			width: 95%;
			max-width: 1200px;
			margin: 0 auto;
			nav{
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-evenly;
					align-items: center;
					align-content: center;
					li{
						display: inline-block;
						margin: 0;
						width: 16.66%;
						position: relative;
						&:after{
							content: " ";
							display: block;
							position: absolute;
							top: 50%;
							margin-top: -10px;
							right: 0;
							height: 20px;
							width: 1px;
							background:lightgrey;
						}
						&:last-child:after{
							display: none;
						}
						a{
							padding: 15px 0;
							border-radius: 0 0 10px 10px;
							display: block;
							position: relative;
							z-index: 3;
							width:100%;
							text-align: center;
							background: transparent;
							font-size: 18px;
							color: grey;
							transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
							&.active{
								color: white;
								text-decoration: none;
								&:hover, &:active, &:focus{
									color: white;
								}
							}
							&:hover, &:active, &:focus{
								color: black;
								text-decoration: none;
							}

						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width:991px) {
	.heading-with-tabs .container .container-inner .content-holder{
		h1{
			font-size: 36px;
		}
		p{
			font-size: 18px;
		}
	}
}

@media only screen and (max-width:768px) {
	.heading-with-tabs .container .container-inner .icon-holder img{
		max-width: 380px;
		width: 80%;
	}
	.heading-with-tabs .container .container-inner {
		.column-width-10{
			width: 100%;
		}
		.column-width-20{
			width: 100%;
		}
		.column-width-25{
			width: 100%;
		}
		.column-width-30{
			width: 100%;
		}
		.column-width-33{
			width: 100%;
		}
		.column-width-40{
			width: 100%;
		}
		.column-width-50{
			width: 100%;
		}
		.column-width-60{
			width: 100%;
		}
		.column-width-100{
			width: 100%;
		}
	}
	.heading-with-tabs {
		.heading-tab-container{
			.container-inner {
				nav {
					ul{
						flex-wrap: wrap;
						li{
							width: 50%;
							&:after{
								display: none;
							}
							a{
								border-radius: 10px;
								padding: 6px 0;
							}
						}
					}
				}
			}
		}
	}
	.heading-with-tabs{
		.container{
			.container-inner {
				.content-holder{
					order: -1;
					text-align: center;
					padding-right: 0;
				}
				.icon-holder{
					order: 1;
					padding-right: 0;
				}
			}
		}
	}
}

@media only screen and (max-width:480px) {
	.heading-with-tabs {
		.heading-tab-container{
			.container-inner {
				nav {
					ul{
						li{
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.zig-zag {
	.container {
		.row-center {
			max-width: 1200px;
			width: 95%;
			margin: 60px auto;
			display: flex;
			align-items: center;
			padding-left: 10px;
			padding-right: 10px;
		}
		.row-top {
			max-width: 1200px;
			width: 95%;
			margin: 60px auto;
			display: flex;
			align-items: flex-start;
			padding-left: 10px;
			padding-right: 10px;
		}

		.img-text {
			flex-direction: row;
			justify-content: flex-start;
			.column-img{
				padding-right: 5%;
			}
		}
		.text-img {
			flex-direction: row-reverse;
			justify-content: space-between;
			.column-img{
				img{
					float: right;
				}
			}
		}
		.column-img {
			flex-basis: 16%;
		}
		.column-text {
			flex-basis: 82%;
		}
		h1 {
			font-size: 42px;
		}
		h2 {
			font-size: 38px;
		}
		h3 {
			font-size: 34px;

		}
		h4 {
			font-size: 30px;
		}
		h1, h2, h3, h4 {
			font-family: 'ralewayregular';
			font-weight: 400;
			color: #2b79a7;
			margin-bottom:10px;
			margin-top: 0;
			line-height: 1.1;
			a {
				text-decoration: none;
				color: #2b79a7;
				transition:all 0.2s;
				&:hover{
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
		p {
			line-height: 1.7;
			font-family: 'open_sansregular';
			font-weight: 400;
			font-size: 18px;
			margin-top: 0;
			margin-bottom:10px;
			color:$text-color;
			a {
				text-decoration: none;
				transition:color 0.2s;
				color:#337ab7;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}

@media only screen and (max-width:991px) {
	.zig-zag {
		.row{
			h1{
				font-size: 38px;
			}
			h2{
				font-size: 34px;
			}
			h3{
				font-size: 32px;
			}
		}
	}
}

@media only screen and (max-width:768px) {
	.zig-zag {
		.container {
			.row-center, .row-top {
				flex-direction: column;
				align-items: center;
			}
			.column-img {
				margin-bottom: 20px;
				img {
					max-width: 90px;
					width: 100%;
				}
			}
		}
	}
}

.slider {
	.container {
		padding-left: 10%;
		padding-right: 10%;
		.main-slider {
			max-width: 750px;
			width: 95%;
			margin: 0 auto;
			.slick-next {
				right: 55px;
			}
			.slick-prev {
				left: 26px;
				z-index: 9999;
			}
			.slick-prev:before, .slick-next:before {
				font-size: 50px;
				color: #b5b4b4;
			}
			.slick-slide {
				width: 100%;
				max-width: 750px;
				padding: 0 1.2%;
				&:focus {
					display: none;
				}
				h1, h2, h3, h4, h5 {
					font-family: 'ralewayregular';
					font-weight: 400;
					line-height: 1.1;
					color: #2b79a7;
					margin: 20px 0 10px;
					a {
						text-decoration: underline;
						color: #2b79a7;
						transition: all 0.2s;
						&:hover {
							cursor: pointer;
						}
					}
				}
				h1 {
					font-size: 32px;
				}
				h2 {
					font-size: 28px;
				}
				h3 {
					font-size: 24px;
				}
				h4 {
					font-size: 22px;
				}
				h5 {
					font-size: 17px;
				}
				p, blockquote {
					font-family: 'open_sansregular';
					font-weight: 400;
					color: $text-color;
					line-height: 1.7;
					a {
						text-decoration: underline;
						transition: all 0.2s;
						&:hover {
							cursor: pointer;
						}
					}
				}
				p {
					font-size: 15px;
					margin: 0;
				}
				blackquote {
					display: block;
					font-size: 18px;
				}
				blockquote {
					display: block;
					font-size: 18px;
					width: 85%;
					margin: 0 auto;
				}
			}
		}
	}
}

@media only screen and (max-width:991px) {
	.slider {
		.container {
			.main-slider {
				.slick-slide {
					h1 {
						font-size: 28px;
					}
					h2 {
						font-size: 24px;
					}
					h3 {
						font-size: 20px;
					}
					h4 {
						font-size: 18px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width:768px) {
	.slider {
		.container {
			.main-slider {
				.slick-slide{
					padding: 0 1.25%;
				}
				.slick-next {
					right:53px;
				}
				.slick-prev {
					left:25px;
				}
			}
		}
	}
}
@media only screen and (max-width:650px) {
	.slider {
		.container {
			.main-slider {
				.slick-next {
					right:45px;
				}
				.slick-prev {
					left:15px;
				}
			}
		}
	}
}
@media only screen and (max-width:600px) {
	.slider {
		.container {
			.main-slider {
				.slick-next {
					right:40px;
				}
				.slick-prev {
					left:10px;
				}
			}
		}
	}
}
@media only screen and (max-width:490px) {
	.slider {
		.container {
			.main-slider {
				.slick-next {
					right:35px;
				}
				.slick-prev {
					left:5px;
				}
			}
		}
	}
}
@media only screen and (max-width:450px) {
	.slider {
		.container {
			.main-slider {
				.slick-slide{
					padding: 0 1.5%;
				}
			}
		}
	}
}
@media only screen and (max-width:400px) {
	.slider {
		.container {
			.main-slider {
				.slick-next {
					right:40px;
				}
				.slick-prev {
					left:12px;
				}
			}
		}
	}
}
