/**
 * partials/elements
 * ---
 */

 .headline-subheadline{
    .container{
      padding-left: 10%;
      padding-right: 10%;
    }
    h1{
      font-size: 42px;
      line-height: 1.2;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0;
      font-family: 'ralewaybold';
    }
    h2{
      font-size: 36px;
      line-height: 1.2;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0;
      font-family: 'ralewaybold';
    }
    h3{
      font-size: 30px;
      line-height: 1.2;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0;
      font-family: 'ralewaybold';
    }
    p{
      font-size: 18px;
      line-height: 1.2;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 0;
      font-family: 'ralewayregular';
      strong, b{
        font-family: 'ralewaybold';
      }
    }
    a{
      text-decoration: underline;
      transition:color 0.2s;
      &:hover{
        color: $blue;
      }
    }
  }
  
@media only screen and (max-width:991px) {
    .headline-subheadline{
        .container{
            h1{
                font-size: 36px;
            }
            h2{
                font-size: 30px;
            }
            h3{
                font-size: 24px;
            }
        }
    }
}