/**
 * partials/feature-domain-slider
 * ---
 */
.section-domain-slider{
    .container{
        .domain-slider{
            width: 95%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 10px;
            .slick-next {
				right: -67px;
			}
			.slick-prev {
                left: -97px;
            }
            .slick-slide{
                &:focus{
                    display: none;
                }
            }
            .slick-prev:before, .slick-next:before {
				font-size: 50px;
                color: #2B78A6;
            }
            .column{
                padding: 0 15px;
                height: 100px;
                .domain-item{
                    background-color: white;
                    height: 100%;
                    padding: 5px 15px 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    color: #737373;
                    &:hover {
                        color: white;
                    }
                    &:before{
                        content:'';
                        position: absolute;
                        background-color: #2B78A6;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 3%;
                        transition: height .2s ease-in-out;
                    }
                    &:hover:before {
                        height: 100%;
                    }

                    .domain-name{
                        font-family: 'Raleway-Bold';
                        font-weight: 700;
                        font-size: 30px;
                        margin-top: 5px;
                        margin-bottom: 8px;
                        padding: 0;
                        z-index: 1001;
                    }
                    .domain-price {
                        margin: 0;
                        font-family: 'Raleway-Regular';
                        font-weight: 400;
                        font-size: 15px;
                        z-index: 1001;
                    }
                }
            }
        }
    }
}
