/**
 * partials/feature-cta
 * ---
 */
.section-cta{
    .container{
        .container-inner{
            width: 95%;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;                        
            justify-content: center;
            align-items: baseline;
            @media only screen and (max-width: 547px){
                flex-direction: column;
                align-items: center;                
            }
            h1, h2, h3, h4 {
                font-family: 'ralewayregular';
                font-weight: 400;
                line-height: 1.1;
                color: white;
                margin: 0;                                  
            }
            h1{
                font-size: 32px;
                @media only screen and (max-width: 768px){
                    font-size: 28px;   
                }
            }
            h2{
                font-size: 28px;
                @media only screen and (max-width: 768px){
                    font-size: 24px;   
                }
            }
            h3{
                font-size: 24px;
                @media only screen and (max-width: 768px){
                    font-size: 21px;   
                }
            }
            h4{
                font-size: 21px;
            }
            a{
                display: block;
                font-family: 'ralewayregular';
                font-weight: 400;  
                padding: 14px 40px;                
                margin-left: 20px;
                font-size: 18px;
                line-height: 1.33;               
                text-decoration: none;
                color: white;
                background-color: #4dac02;
                border-radius: 4px;                            
                transition: background-color 0.2s;
                &:hover{
                    background-color: #398609;
                    cursor: pointer;
                }
                @media only screen and (max-width: 547px){
                    margin-left: 0;
                    margin-top: 20px;
                }
            }
        }
    }
}