/**
 * partials/feature-table
 * ---
 */

.table{
    .container{
        .container-inner {
            width: 95%;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}