/**
 * partials/feature-starter-plan
 * ---
 */
 .starter{
     .container{
        .container-inner{
            width:95%;
            max-width: 750px;
            margin: 0 auto;
            padding: 40px;
            border: 1px solid #ececec;
            overflow: hidden;
            @media only screen and (max-width: 768px) {
                padding: 20px;
            }
            .row-top{
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                h1, h2, h3, h4, .price{
                    margin: 0 0 10px 0;
                    padding: 0;
                    font-family: 'Raleway-Regular';
                    font-weight: 400;
                    line-height: 1.1;
                    color: #2b79a7;
                }
                h1{
                    font-size: 26px;
                }
                h2{
                    font-size: 24px;
                }
                h3{
                    font-size: 22px;
                }
                h4{
                    font-size: 20px;
                }
                .price{
                    color: $text-color;
                }
            }
            .row-bottom{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                @media only screen and(max-width: 670px){
                    flex-flow: wrap;
                }
                .column-left{
                    p{
                        margin: 0;
                        font-size: 15px;
                        line-height: 1.7;
                        font-family: 'Raleway-Regular';
                        color: $text-color;
                        line-height: 1.7;
                    }
                }
                a{
                    color: #337ab7;
                    font-family: 'Raleway-Regular';
                    font-size: 15px;
                    line-height: 1.7;
                    text-decoration: none;
                    transition: all 0.2s;
                    &:hover{
                        cursor: pointer;
                        color: #285f8f;
                    }
                    @media only screen and(max-width: 670px){
                        margin-top: 10px;
                    }
                }
            }
        }
    }
 }
