/**
 * partials/feature-sidebar
 * ---
 */

.sidebar{
  .container-inner {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    .main-content{
      float: left;
      width: calc(100% - 330px);
      &.no-sidebar{
        width: 100%;
      }
      @media only screen and (max-width: 940px) {
        width: 100%;
      }
    }
    .sidebar-content{
      float: left;
      width: 300px;
      margin-left: 30px;
      @media only screen and (max-width: 940px) {
        width: 100%;
        margin: 0;
      }
    }
    h1{
      font-size: 40px;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      font-family: 'ralewaybold';
      @media only screen and (max-width: 768px) {
        font-size: 38px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 32px;
      }
    }
    h2{
      font-size: 38px;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      font-family: 'ralewaybold';
      @media only screen and (max-width: 768px) {
        font-size: 32px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 28px;
      }
    }
    h3{
      font-size: 32px;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      font-family: 'ralewaybold';
      @media only screen and (max-width: 768px) {
        font-size: 28px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 22px;
      }
    }
    h4{
      font-size: 28px;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      font-family: 'ralewaybold';
      @media only screen and (max-width: 768px) {
        font-size: 22px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 18px;
      }
    }
    h5{
      font-size: 22px;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      font-family: 'ralewaybold';
      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 500px) {
        font-size: 16px;
      }
    }
    h6{
      font-size: 18px;
      padding: 0;
      margin: 0;
      line-height: 1.5;
      font-family: 'ralewaybold';
      @media only screen and (max-width: 500px) {
        font-size: 16px;
      }
    }
    p{
      font-size: 18px;
      line-height: 1.5;
      padding: 0;
      margin: 0;
      font-family: 'open_sansregular';
      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    a{
      color: #3aa7fd;
      &:hover{
        text-decoration: underline;
      }
    }
    h1, h2, h3, h4, h5, h6, p, ol, ul, img{
      padding: 0;
      margin: 0;
      margin-bottom: 15px;
    }
    ul, ol{
      padding-left: 20px;
      font-size: 18px;
      @media only screen and (max-width: 768px) {
        font-size: 16px;
      }
      li{
        font-family: 'open_sansregular';
      }
    }
    iframe{
      width: 100%;
      @media only screen and (max-width: 1200px) {
        height: 448px;
      }
      @media only screen and (max-width: 1024px) {
        height: 354px;
      }
      @media only screen and (max-width: 940px) {
        height: 500px;
      }
      @media only screen and (max-width: 800px) {
        height: 420px;
      }
      @media only screen and (max-width: 680px) {
        height: 360px;
      }
      @media only screen and (max-width: 580px) {
        height: 300px;
      }
      @media only screen and (max-width: 480px) {
        height: 250px;
      }
      @media only screen and (max-width: 380px) {
        height: 190px;
      }
    }
    .code-toolbar{
      margin-bottom: 15px;
    }
  }
}
