/**
 * partials/feature-twitter
 * ---
 */
.slider{
  &.twitter-slide{
    .twitter-message{
      font-size: 17.5px!important;
      color: #333!important;
      line-height: 1.7!important;
      margin-bottom: 20px!important;
      @media only screen and (max-width:640px) {
        font-size: 22px!important;
        line-height: 1.2!important;
      }
    }
    .twitter-handle{
       a{
         color:#2b79a7;
         font-size: 17px;
         font-family: 'ralewayregular';
         text-decoration: none!important;
         &:hover{
           text-decoration: underline!important;
         }
       }
    }
    .twitter-date{
      font-size: 11px!important;
      font-family: 'open_sansregular'!important;
      color: grey!important;
    }
  }
}

