/**
 * partials/header
 * ---
 */


// Header container
.archive {
  .header{
    background: #2E4051!important;
  }
}
.header {
    #menu_icon{
        display: none;
        cursor: pointer;
        float: right;
        margin-top: 19px;
        margin-left: 10px;
        transition: margin-top 0.2s ease-in-out;
    }
    transition: background-color 0.2s, border-bottom 0.2s ease-in-out, height 0.2s ease-in-out;
    border-bottom: 1px solid transparent;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    .container{
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        .logo{
            a{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                height: 70px;
            }
            img{
                width: 150px;
                opacity: 1;
                transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out, width 0.2s ease-in-out, visibility 0.2s ease-in-out, margin-left 0.2s ease-in-out;
                &.scrolled-logo{
                  visibility: hidden;
                  opacity: 0;
                }
                &.main-logo{
                  margin-left: -150px;
                }

            }
        }
    }
    .cta-menu-holder{
        float: right;
        display: block;
        transition: margin-top 0.2s ease-in-out, line-height 0.2s ease-in-out;
        line-height: 70px;
        .header-login-link{
            font-family: 'open_sansbold';
            color: white;
            text-decoration: none;
        }
        .header-cta-link{
            font-family: 'open_sansbold';
            background-color: $hilight-green;
            border: 1px solid $dark-green;
            color: white;
            border-radius: 5px;
            padding: 4px 15px;
            margin-left: 13px;
            opacity: 1;
            transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out, padding 0.2s ease-in-out;
            &:hover, &:focus{
                background-color: $dark-green;
                border: 1px solid $hilight-green;
                text-decoration: none;
            }
        }
    }
    .nav{
        float: left;
        font-size: 15px;
        font-family: 'open_sansregular';
        height: 70px;
        line-height: 70px;
        transition: padding-top 0.2s ease-in-out, height 0.2s ease-in-out, right 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55), line-height 0.2s ease-in-out, top 0.2s ease-in-out;
        .mobile-cta{
            display: none;
        }
        ul{
            list-style: none;
            float: left;
            padding: 0;
            margin: 0;
            transition: margin 0.2s ease-in-out;
            li{
                float: left;
                margin-right: 20px;
                position: relative;
                color: white;
                a{
                  transition: opacity 0.2s ease-in-out;
                }
                &:hover ul, &:focus ul{
                    left: -10px;
                }
                &:hover a, &:focus a{
                    text-decoration: none;
                    opacity: 0.8
                }
                &:hover ul a{
                    text-decoration: none;
                }
                &.menu-item-has-children{
                    margin-right: 30px;
                    padding-right: 5px;
                    &:after{
                        content:" ";
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid currentColor;
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -2px;
                        padding-bottom: 10px;
                    }
                }
                ul{
                    list-style: none;
                    position: absolute;
                    background-color: white;
                    padding: 10px 0;
                    border-radius: 5px;
                    box-shadow: 0 6px 12px rgba(0,0,0,.175);
                    left: -9999px;
                    margin-top: -20px;
                    line-height: 1.7;
                    li{
                        padding: 0 20px;
                        margin-right: 0;
                        float: none;
                        background-color:transparent;
                        transition: background-color 0.2s ease-in-out;
                        &:hover{
                            background-color: #f6f6f6;
                        }
                    }
                    a{
                        white-space: nowrap;
                        color: #333;
                    }
                }
            }
            a{
                display: block;
                color:white;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    // Logo
    .logo {
        float: left;
        margin-right: 20px;
        a{
            font-family: 'open_sansbold';
            color: white;
            font-size: 40px;
            transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out, line-height 0.2s ease-in-out;
            &:hover, &:focus, &:active{
                text-decoration: none;
            }
            span{
                color: white;
                transition: color 0.2s ease-in-out;
            }
        }
    }
    &.scrolled-nav{
        background: white!important;
        border-bottom: 1px solid lightgrey;
        height: 60px;
        #menu_icon{
            margin-top: 14px;
        }
        .cta-menu-holder{
            line-height: 60px;
            .header-login-link{
                color: $blue;
            }
        }
        .nav{
            padding-top: 0;
            height: 60px;
            line-height: 60px;
            font-size: 14px;
            ul{
                margin: 0;
                li{
                    color: grey;
                    a{
                      color: #333;
                    }
                    ul{
                        margin-top: -15px;
                    }
                }
            }

        }
        .logo {
            a{
                font-size:30px;
                color: $dark-blue;
                height: 60px;
                span{
                 color: $dark-blue;
                }
                img{
                    width: 130px;
                    opacity: 1;
                    &.dark-logo{
                    }
                    &.main-logo{
                      visibility: hidden;
                      opacity: 0;
                      margin-left: -130px;
                    }
                    &.scrolled-logo{
                      visibility: visible;
                      opacity: 1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px) {
    .header {
        #menu_icon{
            display: block;
        }
        .nav{
            float: none;
            display: block;
            position: fixed;
            top: 70px;
            right: -270px;
            width: 260px;
            height: calc(100% - 70px);
            box-shadow: 0 6px 12px rgba(0,0,0,.175);
            background: #fcfcfc;
            overflow-y: scroll;
            ul{
                display: block;
                width: 100%;
                padding-top: 20px;
                li{
                    display: block;
                    width: 100%;
                    text-align: right;
                    margin-right: 0;
                    padding-right: 20px;
                    padding-left: 20px;
                    margin-bottom: 0px;
                    &.menu-item-has-children{
                        margin-right: 0;
                        padding-right: 20px;
                        padding-left: 20px;
                        margin-bottom: 0;
                        &:after{
                            display: none;
                        }
                    }
                    &:hover ul{
                      left: 0;
                    }
                    ul{
                        left: 0;
                        position: relative;
                        background-color: transparent;
                        padding: 0;
                        border-radius: 0;
                        box-shadow: 0 0 0 transparent;
                        margin-top: 0px;
                        margin-bottom: 5px;
                        li{
                            padding: 0;
                            margin-bottom: 5px;
                            &:hover{
                              background: white;
                            }
                            a{
                                color: $grey;
                                font-size: 14px;
                                font-family: 'open_sansregular';
                                line-height: 1.2;
                            }
                        }
                    }
                    a{
                        font-size: 18px;
                        color: $grey;
                        font-family: 'open_sansbold';
                        line-height: 1.7;
                    }
                }
            }
        }
        &.scrolled-nav{
            .nav{
                top: 60px;
                height: calc(100% - 60px);
                ul{
                    li{
                        a{
                            color: $grey;
                        }
                        ul{
                          margin-top: 0;
                            li{
                                a{
                                    color: $grey;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.mobile-nav-active{
            .nav{
                right: -20px;
            }
        }
    }
}


@media only screen and (max-width:550px) {
    .header .logo a {
        font-size: 25px;
        line-height: 2;
    }
    .header.scrolled-nav .logo a {
        font-size: 23px;
        line-height: 35px;
    }
}

@media only screen and (max-width:450px) {
    .header{
        .cta-menu-holder{
            display: none;
        }
        .nav{
            .cta-menu-holder{
                display: block;
                float: none;
                line-height: 1.5;
            }
            .mobile-cta{
                display: block;
                width: 80%;
                float: none;
                margin: 0 auto;
                text-align: center;
                padding-left: 20px;
                padding-right: 20px;

                .header-login-link{
                    display: block;
                }
                .header-cta-link{
                    display: block;
                    margin-top: 10px;
                    margin-left: 0;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .header .cta-menu-holder .header-login-link{
        color: $blue;
    }
}
