/**
 * partials/header
 * ---
 */


// Header container
.header {
    background: $blue;
    transition: background-color 0.2s, border-bottom 0.2s ease-in-out;;
    border-bottom: 1px solid transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .cta-menu-holder{
        float: right;
        display: block;
        margin-top: 20px;
        transition: margin-top 0.2s ease-in-out;
        .header-login-link{
            font-family: 'open_sansbold';
            color: white;
        }
        .header-cta-link{
            font-family: 'open_sansbold';
            background-color: $hilight-green;
            border: 1px solid $dark-green;
            color: white;
            border-radius: 5px;
            padding: 8px 15px;
            margin-left: 13px;
            opacity: 1;
            transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
            &:hover{
                background-color: $dark-green;
                border: 1px solid $hilight-green;
                text-decoration: none;
            }
        }
    }
    .nav{
        float: left;
        font-size: 14px;
        padding-top: 10px;
        transition: padding-top 0.2s ease-in-out;
        ul{
            list-style: none;
            float: left;
            padding: 0;
            li{
                float: left;
                margin-right: 20px;
                position: relative;
                color: white;
                &:hover ul, &:focus ul{
                    left: 0;
                }
                &:hover a{
                    text-decoration: underline;
                }
                &:hover ul a{
                    text-decoration: none;
                }
                &.menu-item-has-children{
                    margin-right: 30px;
                    padding-right: 5px;
                    &:after{
                        content:" ";
                        width: 0; 
                        height: 0; 
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 5px solid currentColor;
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -2px;
                        padding-bottom: 10px;
                    }
                }
                ul{
                    list-style: none;
                    position: absolute;
                    background-color: white;
                    padding: 10px 0;
                    border-radius: 5px;
                    box-shadow: 0 4px 5px #c3c3c3;
                    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
                    li{
                        padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
                        padding: 0 10px;
                        margin-right: 0;
                        float: none;
                        background-color:transparent;
                        transition: background-color 0.2s ease-in-out;
                        &:hover{
                            background-color: #ececec;
                        }
                    }
                    a{
                        white-space: nowrap;
                        color: grey;
                    }
                }
            }
            a{
                display: block;
                color:white;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    // Logo
    .logo {
        float: left;
        margin-right: 15px;
        a{
            font-family: 'open_sansbold';
            color: white;
            font-size: 40px;
            transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
            &:hover, &:focus, &:active{
                text-decoration: none;
            }
            span{
                color: white;
                transition: color 0.2s ease-in-out;
            }
        }
    }
    &.scrolled-nav{
        background: white;
        border-bottom: 1px solid lightgrey;
        .cta-menu-holder{
            margin-top: 14px;
            .header-login-link{
                color: $blue;
            }
        }
        .nav{
            padding-top: 0;
            li{
                color: grey;
                a{
                    color: grey;
                }
            }
        }
        .logo {
            a{
                font-size:30px;
                color: $dark-blue;
                span{
                 color: $dark-blue;   
                }
            }
        }
    }
}
