/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */


// Global box-sizing
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  // `font-size` for REM use
  font-size: 62.5%;
  // Cancel hightlight color when tapping in iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

img {
  // Don't allow <IMG> to be larger then its container
  max-width: 100%;
  // Omit space caused by default style, between images lines
  vertical-align: middle;
}

a {
  color: $text-color;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  //&:active {}
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

// Text selection
::selection {
  background-color: $selection-bg;
  color: $body-bg;
  text-shadow: none;
}


h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

.gform_ajax_spinner {
  margin-left: 20px;        /* give it some space from the Submit button */
  border: 4px solid rgba(255, 255, 255, 0.3); /* match with border-left */
  border-left: 4px solid blue;
  animation: spinner 1.1s infinite linear;
  border-radius: 50%;
  width: 30px;          /* match with height for a circle */
  height: 30px;
  margin: 4rem auto 0 auto;
  display: block;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* COLORS */
.blue{
  color: $blue;
}

/* TEXT OPTIONS */
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right
}

/* PADDING OPTIONS */
.padding-fat{
  .container{
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.padding-normal{
  .container{
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* WIDTH OPTIONS */
.full-width{
  width: 100%;
  .container{
    width: 100%;
  }
}

.narrow-width{
  width: 100%;
  .container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.headline-subheadline{
  .container{
    padding-left: 10%;
    padding-right: 10%;
  }
  h1{
    font-size: 42px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'ralewaybold';
  }
  h2{
    font-size: 36px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'ralewaybold';
  }
  h3{
    font-size: 30px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'ralewaybold';
  }
  p{
    font-size: 18px;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'ralewayregular';
    strong, b{
      font-family: 'ralewaybold';
    }
  }
  a{
    text-decoration: underline;
    transition:color 0.2s;
    &:hover{
      color: $blue;
    }
  }
}
