/**
 * partials/utils
 * ---
 * Utils classes
 */


// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
.clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.reset-box {
  @include reset-box;
}

.pagination{
  text-align: center;
  font-size: 20px;
  padding: 30px 10px;
  font-family: 'OpenSans-Regular';
  .current{
    font-family: 'OpenSans-Bold';
  }
}
