/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "ralewayregular", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */

$text-color: #333;
$body-bg: #fff;
$selection-bg: #04A4CC;


$blue: #3d82bc;
$light-blue: #4292a9;
$pale-blue: #62acc6;
$dark-blue: #31628a;
$mood-blue: #3f759c;

$red: #d93d40;
$light-red: #ef4f52;

$green: #2e926d;
$hilight-green: #67ad27;
$dark-green: #489205;
$light-green: #3ca77f;

$purple: #7d2d77;
$light-purple: #923c8b;

$grey: #404b55;
$light-grey: #55616a;




/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;
