/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/elements";
@import "partials/feature-domain-slider";
@import "partials/feature-starter-plan";
@import "partials/feature-get-started";
@import "partials/feature-pricetable";
@import "partials/feature-domain-search";
@import "partials/feature-table";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";